# Ignoruj wygenerowany dataset
lego_dataset/

# Ignoruj pojedyncze pliki obrazów i labeli
*.png
*.txt

# Ignoruj pliki Blendera (opcjonalnie, są duże)
*.blend1
lego_dataset/
yolo_env/
kroki_implementacji.txt
runs/detect/
analytics.py