# Ignoruj wygenerowany dataset
lego_dataset/
runs/

# Python & System
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

# Modele i duże pliki (nie wrzucamy wag modeli do git)
*.pt
*.blend
*.blend1

# Inne
yolo_env/
venv/
kroki_implementacji.txt
analytics.py