# Ignoruj wygenerowany dataset
data/
runs/
docs/
models/

# Python & System
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/

# Modele i duże pliki (nie wrzucamy wag modeli do git)
*.pt
*.blend
*.blend1

# Wyjścia testów
tests/test_augmentacji/

# Inne
yolo_env/
venv/
analytics.py

TODO.md